.container {
    position: relative;
    padding: 5px;
}
  
.full-width {
    width: 100%;
}
  
.full-width:nth-last-child() {
    margin-bottom: 10px;
}
  
.button-row {
    margin: 10px 0;
}
  
.mat-flat-button {
    margin: 5px;
}