<div class="container mat-elevation-z8">
    <div class="button-row">
        <a mat-flat-button color="primary" style="margin: 10px;" [routerLink]="['/matches']">
            <mat-icon>list</mat-icon>
        </a>
    </div>
    <mat-card>
        <form [formGroup]="matchForm" (ngSubmit)="onAdd(matchForm.value)">
            <mat-form-field class="full-width">
                <input matInput placeholder="League" formControlName="leagueName" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!matchForm.get('leagueName').valid && matchForm.get('leagueName').touched">
                        Please enter league's name
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Team 1" formControlName="firstTeamName" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!matchForm.get('firstTeamName').valid && matchForm.get('firstTeamName').touched">
                        Please enter first team's name
                    </span>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="full-width">
                <input matInput placeholder="Team 2" formControlName="secondTeamName" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!matchForm.get('secondTeamName').valid && matchForm.get('secondTeamName').touched">
                        Please enter second team's name
                    </span>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="full-width">
                <input matInput type="datetime-local" placeholder="Match's date" formControlName="date" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!matchForm.get('date').valid && matchForm.get('date').touched">
                        Please enter match's date
                    </span>
                </mat-error>
            </mat-form-field>
            
            <div class="button-row">
                <button type="submit" [disabled]="!matchForm.valid" mat-flat-button color="primary">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </form>
    </mat-card>
</div>